
.icon-facebook-1:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-beer:before { content: '\e803'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */