@model BeerCalc.Models.PersonDB

@{
    ViewBag.Title = "Strona główna";
}
<h2>@ViewBag.Tekst</h2>
<h2>Drogi studencie!</h2>
      Na tej stronie możesz sprawdzić, czy jesteś alkoholikiem.
<br />Sprawdzisz także, jaką dawkę alkoholu Twój organizm
<br />może potencjalnie wytrzymać. Mimo wszystko polecam nie sprawdzać granic swoich możliwości.
<br />Test ma oczywiście żartobliwy charakter i nie ma na celu kogokolwiek urazić :)

